[submodule "vim/pack/bundles/start/HTML-AutoCloseTag"]
	path = vim/pack/bundles/start/HTML-AutoCloseTag
	url = https://git::@github.com/vim-scripts/HTML-AutoCloseTag.git
[submodule "vim/pack/bundles/start/typescript-vim"]
	path = vim/pack/bundles/start/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
[submodule "vim/pack/bundles/start/vim-commentary"]
	path = vim/pack/bundles/start/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "vim/pack/bundles/start/ferret"]
	path = vim/pack/bundles/start/ferret
	url = https://github.com/wincent/ferret.git
[submodule "vim/pack/bundles/start/vcs-jump"]
	path = vim/pack/bundles/start/vcs-jump
	url = https://github.com/wincent/vcs-jump.git
